
h1 {
    font-family: Avenir Next;
    font-weight: 700;
}

h2{
    font-family: avenir next;
    font-weight: 200;
}

h3{
    margin-top: 100px; 
    font-family: avenir next;
    font-weight: 100;
    text-align: center;
}

.topnav {
    background-color: #FF9999;
    overflow: hidden;
    font-family: avenir next;
    font-weight: 400;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #FFCCCC;
    color: black;
}

.topnav a.active { 
    background-color: #ffcc99;
    color: white;
}

.topnav .icon {
    display: none;
}

.row {
    display: flex;
}

.column {
    flex: 30%;
    padding: 40px;
}






/* media query */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display:none;}
    .topnav a:icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav .responsive {position: relative;}
    .topnav .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav .resonsive a {
        float: none;
        display: block;
        text-align: left;
    }
}